//Colors

$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);


//Screen sizes

$desktop-width: 1199px;
$tablet-width: 991px;
$mobile-width: 667px;